.music-control-panel {
    background: linear-gradient(180deg, #772020, #361024);
    padding: 29px 78px 18px;
    display: flex;
    justify-content: space-between;
}

.music-progress-bar {
    height: 13px;
    background-color: white;
    position: relative;
}

.music-progress-bar-value {
    width: 70%;
    height: 100%;
    background-color: #e5b4b7;
    border: 1px solid white;
}

.music-time {
    position: absolute;
    top: 22px;
    color: white;
    font-size: 12px;
}

.music-start-time {
    left: 24px;
}

.music-end-time {
    right: 24px;
}

.playing-song {
    color: white;
    display: flex;
    align-self: flex-end;
    min-width: 0;
}

.playing-song-image {
    width: 40px;
    height: 40px;
    margin-right: 19px;
}

.playing-song-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 0;
}

.playing-song-name {
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.playing-song-singer {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.music-control-button-group {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 16px;
}

.control-button {
    color: white;

    &:not(:last-child) {
        margin-right: 20px;
    }
}

.volume {
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
}

.volume-bar {
    position: relative;
    background-color: white;
    width: 100px;
    height: 6px;
    border-radius: 3px;
    margin-left: 8px;
}

.volume-bar-value {
    position: absolute;
    top: 0;
    left: 0;
    width: 53%;
    height: 100%;
    background-color: #964a4d;
    border-radius: 3px;
}
