@import "./base/normalize";
@import "./components/aside";
@import "./components/footer";

* {
    box-sizing: border-box;
}

a {
    cursor: pointer;
}

button {
    background: none;
    line-height: 0;
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;

    &:focus,
    &:active {
        outline: none;
    }
}

$wrapper-min-width: 1280px;
$wrapper-min-height: 800px;

.wrapper {
    background-color: #1a1a1a;
    width: 100vw;
    height: 100vh;
    min-width: $wrapper-min-width;
    min-height: $wrapper-min-height;
    position: relative;
}

main {
    display: flex;
    width: calc(100% - 80px);
    height: calc(100% - 114px);
}

aside {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px;
    height: 100%;
    min-height: $wrapper-min-height;
    background-color: #4b3434;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 80px);
    min-width: calc($wrapper-min-width - 80px);
}

.artisan-panel {
    width: 460px;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
}

.list-panel {
    flex: 1;
    min-width: 0;
    max-height: 100%;
}

.artisan-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.artisan-panel-content {
    height: 263px;
    width: 100%;
    background: linear-gradient(rgba(white, 0%), rgba(black, 100%));
    z-index: 2;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.artisan-panel-content-block {
    display: flex;
    align-items: flex-end;
}

.artisan-panel-content-block .button:not(last-child) {
    margin-right: 17px;
}

.artisan-name {
    margin-bottom: 19px;
}

.artisan-name-title {
    font-size: 14px;
    color: #e5b4b7;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.artisan-name-text {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.artisan-follower-count {
    font-size: 11px;
    color: white;
    margin-right: auto;
}

.artisan-follower-count-text {
    margin-bottom: 4px;
}

.button {
    display: inline-block;
    border-radius: 17px;
    border-width: 1px;
    border-style: solid;
    padding: 6px 22px;
    width: 128px;
    height: 30px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.button-primary {
    color: white;
    background-color: #964a4d;
    border-color: #964a4d;
}

.button-outline-primary {
    color: #964a4d;
    border-color: white;
}

.album {
    padding: 89px 42px 42px;
    width: 100%;
    height: 230px;
    display: flex;
    align-items: flex-end;
}

.album-image {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    margin-right: 53px;
}

.album-content {
    flex: 1;
    min-width: 0;
}

.album-year {
    color: #707070;
    font-size: 14px;
    margin-bottom: 8px;
}

.album-name {
    color: white;
    font-size: 32px;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-bottom: 17px;
}

.album-like-button {
    flex: 0 0 auto;
    margin-left: 17px;
}

.song-list {
    height: calc(100% - 230px);
    overflow: auto;
}

.song-list-title {
    display: flex;
    text-transform: uppercase;
    color: #964a4d;
    font-size: 14px;
    margin: 10px 0;
}

.song-list-title .song-length {
    padding: 0;
}

.song-list-title .song-like {
    padding-right: 32px;
}

.song-item {
    display: flex;
    color: white;
    padding: 16px 0;
    border-top: 0.2px solid #707070;

    &:last-child {
        border-bottom: 0.2px solid #707070;
    }
}

.song-item .song-order,
.song-item .song-name {
    font-size: 18px;
    font-weight: bold;
}

.song-is-playing {
    flex: 0 0 28px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.song-order {
    flex: 0 0 80px;
    margin-left: 17px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.song-name {
    flex: 5;
}

.song-length {
    flex: 1 0 60px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 12px;
}

.song-like {
    flex: 1 0 80px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 50px;
}

.song-like .like-button {
    margin-left: 14px;
}
